.footer-container {
    width: 100%;
    height: 3em;
    background-color: #0070AF;
    bottom: 0;
    color: white;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
}

h4 {
    text-align: center;
}