.header-container {
    width: 100%;
    height: 4em;
}

.navbar {
    background-color: #0070AF;
    display: flex;
    align-items: center;
    text-align: center;
}

.logo {
    text-decoration: none;
    margin-left: 3em;
    color: white;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-item {
    padding: 0px 15px;
    text-decoration: none;
    color: white;
}

