/* responsive container */
.container {
    width: 100%;
}

@media (min-width: 576px) {
    .container {
        width: 540px;
    }
}
@media (min-width: 768px) {
    .container {
        width: 720px;
    }
}
@media (min-width: 992px) {
    .container {
        width: 960px;
    }
}
@media (min-width: 1200px) {
    .container {
        width: 1140px;
    }
}

.todo-list-container {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    width: 100%;
}

.todo-list-table {
    width: 100%;
    justify-content: center;
    align-items: baseline;
}

.table-row {
    box-sizing: border-box;
    flex-grow: 1;
    overflow: hidden;
    list-style: none;
    border: solid 3px white;
    text-align: center;

    font-size: 1.06em;
    font-weight: 400;
}

.table-row:hover {
    background-color: rgba(219, 219, 219);
}

.col-xl {
    width: 40%;
}

.col-s {
    width: 15%;
}
.todo-list-thead {
    height: 3em;
    font-size: 1.27em;
    font-weight: 800;
    box-sizing: border-box;
    flex-grow: 1;
    background: #BCC0C4;
}

.add-todo-btn {
    background-color: #0070AF;
    border-radius: 10px;
    box-shadow: dimgrey 0 1px 2px;
    color: white;
    padding: .6em 1.6em;
    margin-top: 2em;
    margin-left: 3em;
    font-size: 1.1em;
    font-weight: 700;
}

.delete-todo-btn, .update-todo-btn{
    background-color: #0070AF;
    border-radius: 10px;
    box-shadow: dimgrey 1px 2px;
    color: white;
    padding: .4em 1.4em;
    font-size: .9em;
    font-weight: 500;
}

.add-todo-btn:hover, .update-todo-btn:hover, .delete-todo-btn:hover  {
    background-color: rgba(0, 112, 175, 0.8);
    cursor: pointer;
}





