.todo-table {
    width: 100%;
    justify-content: center;
    align-items: baseline;
    display: flex;
    flex-direction: row;
}

.btn-save {
    background-color: #0070AF;
    border-radius: 10px;
    box-shadow: dimgrey 0 1px 1px;
    color: white;
    padding: .3em .8em;
    margin-top: 2em;
    margin-left: 3em;
    font-size: 1.1em;
    font-weight: 700;
}

.fieldset-xl {
    width: 40%;
}
.field-xl {
    width: 98%;
    height: 1.8rem;
}

.fieldset-m {
    width: 20%;
}
.field-m {
    width: 50%;
    height: 1.8rem;
    margin-left: 1rem;
}

.fieldset-s {
    width: 10%;
}

.field-s {
    width: 1rem;
    margin-left: 1rem;
}

fieldset {
    border:none;
}




